* {
    margin: 0;
    padding: 0;
}

html {
    font: 14px/1.5 "Fira Sans", sans-serif;
}

body {
    font: inherit;
}

.tester {
    
    background-color: orange;
    border: 1px solid black;
    margin: 2em;
    padding: 2em;
    text-align: center;
    /* width: 200px; 
    height: 200px;
    overflow: hidden; */
    box-sizing: border-box;
}

p {
    background-color: lightgrey;
    border-radius: 0.4em;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
}

h2 {
    font: 1.6em/1.5 Helvetica, sans-serif;
}


div {
    position: fixed;
    top: 0;
    right: 0;
}



