@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 Poppins, sans-serif;
    
}

h2, h3 {
    font-weight: 500;
}

body {
    padding: 2em;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container { 
    max-width: 100em;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    padding-bottom: 2em;
}

.section-header h2 span {
    color: #327DC4;
}
.section-content  {
    display: flex;
    gap: 1.5em;
    
}

.main-content {
    padding: 1em;
}

.section-content article .main-content p {
    margin: 1em 0;
}

.section-content article,
.section-content article .media {
    overflow: hidden;
    border-radius: 1em;

}

.section-content article {
    flex: 1 1 30%;
    background-color: #819DAF;
    
}

.section-content .button {
    color: white;
    display: inline-block;
    text-decoration: none;
    background-color: #327DC4;
    border: 1px solid#3E49C6;
    outline: 1px solid #fff;
    border-radius: 2em;
    padding: 0.5em 1em;
}