body {
    font-family: 'Helvetica', sans-serif;
}

ul.gallery li {
    list-style: none;
    display: inline-block;
    margin: 20px; 
}

ul.gallery img {
    width: auto;
    border: 0.4rem solid black;
}
