@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap');


html {
    font-family: 'Karla';
    Font-size: 18px;
}

body {
    background-color: #F8F0E9;
}

h3 {
    font-size: 90px;
}

.description,
h1, h2, h3, h4, h5, h6  {
    font-family: 'Cormorant';
    font-weight: 300;
    f
}

.site-section {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-header {
    height: 80vh;
    width: 100%;
    background-image: url(images/poster.jpg);
    background-size: cover;
    background-position: center;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    display: block;
    width: 110px;
    height: 90px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url(images/logo.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-self: flex-start;
    margin-left: 1.5em;
    text-align: center;
}

.banner-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5em;
    
}

.banner-info p {
    padding: 1em;
}


.site-header nav a {
    text-decoration: none;
    color: #fff;
}

.site-header nav li {
    display: inline-block;
    list-style: none outside;
    padding: 0 0.5em;
}

.site-section.customer,
.site-section.main-info {
    background-color: #F8F0E9 ;
}

.site-section.support,
.site-section.guide {
    background-color: #E14747;
}

.site-footer {
    background-color: #352B2A;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Customer */

.customer {
    display: flex;
    padding: 2em 7em;
}

.customer p {
    align-self: flex-start;
    padding-bottom: 2em;
}

/* Support */

.site-section.support {
    text-align: center;
    color: white;
    padding: 2em 6em;
}

.site-section.support p {
    padding: 1em;
}

.site-section img {
    display: block;
    width: 100%;
    height: auto;
    padding: 1em;
    
}
.main-info {
    display: flex;
}

.site-section.main-info h1 {
    padding: 1em;
    align-self: self-start;
}


.site-section.main-info .read {
    align-self: self-start;
}

.site-section.main-info {
    padding: 1em 5em;
    width: 70%;
}

.read {
    align-self: start;
}
.read-all {
    align-self: center;
}

.button {
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    padding: 0.5em;
    margin: 1.5em 0;
    text-decoration: none;
    color: black;
}

.site-section.guide {
    color: white;
    display: flex;
    text-align: center;
    padding: 1em 5em;
}

.guide p {
    
    padding: 1em;
}

.btn-local-guide {
    background-color: #FAD87A;
    color: #000;
    padding: 1em;
    margin: 1em;
    border-radius: 2em;
    text-decoration: none;
}

.footer-logo {
    display: block;
    width: 110px;
    height: 90px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url(images/logo.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-self: flex-start;
    
}

.site-section.site-footer {
    padding: 2em;
    
}

.site-section.site-footer p {
    align-self: flex-start;
    line-height: 1.5;
    
}

.footer-info {
    color: #FFFFF2;
}
.rigths {
    color: #704E38;
}

