nav li {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

nav ul {
    background-color: #B71C1C;
}

nav a {
    color: white;
    text-decoration: none;
}

ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li {
    flex: 0 0 25%;
    box-sizing: border-box;
}


.contact-phone {
    float: right;
    color: white;
}

.mail {
    float: right;
}

.university {
    float: right;
}

h1 {
    text-align: center;
}

section h3, p {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.tip {
    background-color: #B71C1C;
    color: white;
}


table thead th {
    text-align: left;
  }
    
  table {
      border-collapse: collapse;
      width: 50%;
      margin-left: auto;
      margin-right: auto;  
    }
    
  table, th, td {
      border: 1px solid rgb(221, 221, 221);
      padding: 8px;
    }
    

    span {
        color: #B71C1C;
    }

    table thead th {
        text-align: center;
      }
      .icons {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 10px;
    }
 
 footer {
    background-color: #EEEEEE;
    padding: 20px;
    
}


 footer ol li {
    margin-bottom: 5px;
 }

 footer p {
    margin: 0;
 }

 .find-us {
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
}
