* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

.nav-bar a {
    color: white;
}

.nav-bar .social li,
.nav-bar .social a {
    display: inline-block;
}

.container {
    max-width: 800px;
    background-color: bisque;
    margin: 0 auto;
;
}
