
 @media (max-width: 600px) {
   .navbar {
    justify-content: center;
   }

   .navbar-light .navbar-brand {
    margin-right: 0;
   }
   .hero img {
    display: none;
   }

   .container {
    text-align: center;
    max-width: 500px;
   }

   .hero-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
   }

   .hero-btns a:first-child {
    padding: 17px 60px;
   }

 /* Anything you need */

   .col-sm-6 {
    margin-bottom: 2em;
    flex: 0 0 100%;
    max-width: 100%;
   }

   .side2-img img {
    top: 1750px;
   }

   /* About */

  .about .row {
    gap: 5em;
 }

 /* Contacts */

 #contact-us {
    margin-bottom: 0px;
 }

.contact-btn a {
    display: none;
}



.col-12 ul {
    display: flex;
    flex-direction: column;
}

.col-12 h3 {
    padding: 0 1em;
}



footer h6 {
    padding-bottom: 10px;
}
}