@media (max-width: 600px) {



    header nav {
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }

    .choose-us li {
        display: flex;
        flex-direction: column;
    }

   .team-description-wrapper ul li {
    
   }

}