* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    color: #293442;
}

.enterprise {
    background-color: #f6f8f9;
    padding: 0 1em;
    border-radius: 1em;
    display: flex;
    justify-content: space-between ;
    align-items: flex-end;
    max-width: 960px;
    margin: 2em auto;
}


.enterprise .info {
    width: 40%;
    padding: 2em 0;
}

.enterprise .subtitle { 
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: normal;
    
}

.enterprise .title {
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: normal;
}

.enterprise .description {
    margin-bottom: 20px;
    color: #a5acb2;

}

.enterprise .btn {
    all: unset;
    border: 1px solid #88898b;
    padding: 0.5em 1em;
    border-radius: 0.1em;
    font-weight: 500;
}

.enterprise .btn.btn-primary {
    border-color: #796eff;
    background-color: #796eff;
    color: #f9f8ff;
    margin-right: 0.5em;
}

.enterprise .img {
    width: 30%; 
}